.All {
   text-align: center;
   margin-bottom: 5px;
   margin-top: 20px;
}

.GridListPlayerCard {
    display: flex;
}

.btnListPlayerCard {
    height:5%;
    width: 15%;
    top: 65px;
    left: 10px;
}
